.SideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.Naviation {
    position: absolute;
    top: 12px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.Categories {
    position: relative;
    top: 0;
    left: 76px;
    background-color: rgba(44, 47, 72, 0.5);
    width: 244px;
    height: 800px;
}

.Navigation, a {
    width: 212px;
    display: flex;
    position: relative;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 0.5;
}

.Navigation, a:hover, .active {
    width: 212px;
    position: relative;
    border-radius: 5px;
    border: 1px solid transparent;
    mix-blend-mode: screen;
    background: 
    linear-gradient(#3F366A 0 0) padding-box,
    linear-gradient(#CEC4FC, #6379ED) border-box;
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 1;
}

.groupMenu {
    position: absolute;
    top: 8px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    gap: 8px;
    /* opacity: 0.5; */
}
/* .groupMenu:hover, .active {
    /* gap: 8px; */
    /* opacity: 1; */
/* } */

.Navigation, a,  b {
    color: white;
    position: relative;
}




.Title {
    position: relative;
    left: 76px;
    background-color: rgba(44, 47, 72, 0.5);
    box-shadow: 0-1px 0 rgba(255, 255, 255, 0.1) inset;
    width: 244px;
    height: 44px;
    text-align: left;
    font-size: 17px;
    color: #fff;
    font-family: Lato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
}
